<header class="navbar navbar-dark bg-dark">
  <nav class="container-fluid" style="color: white">
    <a href="/" class="navbar-brand">Employee Review System</a>
    <%if (locals.user) {%>
    <a href="/" class="navbar-brand">Welcome <%=locals.user.name%></a>
    <%}%>
    <div class="d-flex">
      <%if (locals.user && locals.user.isAdmin) {%>
      <a class="navbar-brand" href="/admin/assign-review">Assign Reviews</a>
      <a class="navbar-brand" href="/admin/admin-view">View Employees</a>
      <a class="navbar-brand" href="/admin/signout">Sign out</a>
      <%} else if (locals.user) { %>
      <a class="navbar-brand" href="/employee/signout">Sign out</a>
      <% } %>
    </div>
  </nav>
</header>
